src/wsdl/localhost_8080/siews/SIEService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.itesz.soa" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com.itesz.soa" name="SIEService">
<types>
<xsd:schema>
<xsd:import namespace="http://com.itesz.soa" schemaLocation="http://localhost:8080/siews/SIEService?xsd=1"/>
</xsd:schema>
</types>
<message name="actualizaEstatusAlumno">
<part name="parameters" element="tns:actualizaEstatusAlumno"/>
</message>
<message name="actualizaEstatusAlumnoResponse">
<part name="parameters" element="tns:actualizaEstatusAlumnoResponse"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="ConsultaDocente">
<part name="parameters" element="tns:ConsultaDocente"/>
</message>
<message name="ConsultaDocenteResponse">
<part name="parameters" element="tns:ConsultaDocenteResponse"/>
</message>
<portType name="SIEService">
<operation name="actualizaEstatusAlumno">
<input wsam:Action="http://com.itesz.soa/SIEService/actualizaEstatusAlumnoRequest" message="tns:actualizaEstatusAlumno"/>
<output wsam:Action="http://com.itesz.soa/SIEService/actualizaEstatusAlumnoResponse" message="tns:actualizaEstatusAlumnoResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://com.itesz.soa/SIEService/actualizaEstatusAlumno/Fault/SQLException"/>
</operation>
<operation name="ConsultaDocente">
<input wsam:Action="http://com.itesz.soa/SIEService/ConsultaDocenteRequest" message="tns:ConsultaDocente"/>
<output wsam:Action="http://com.itesz.soa/SIEService/ConsultaDocenteResponse" message="tns:ConsultaDocenteResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://com.itesz.soa/SIEService/ConsultaDocente/Fault/SQLException"/>
</operation>
</portType>
<binding name="SIEServicePortBinding" type="tns:SIEService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="actualizaEstatusAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="ConsultaDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SIEService">
<port name="SIEServicePort" binding="tns:SIEServicePortBinding">
<soap:address location="http://localhost:8080/siews/SIEService"/>
</port>
</service>
</definitions>